<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>577905700975-uav6286fpadrsrrgkm9ai00n9nbmvlpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577905700975-uav6286fpadrsrrgkm9ai00n9nbmvlpb</string>
	<key>API_KEY</key>
	<string>AIzaSyC6_8Hk02foeqP0H5axEIMbodbkEerqqas</string>
	<key>GCM_SENDER_ID</key>
	<string>577905700975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coreflexSolutions.MondCommunicator</string>
	<key>PROJECT_ID</key>
	<string>mondcommunicator-865f3</string>
	<key>STORAGE_BUCKET</key>
	<string>mondcommunicator-865f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:577905700975:ios:7be7c6372f1f8f48</string>
	<key>DATABASE_URL</key>
	<string>https://mondcommunicator-865f3.firebaseio.com</string>
</dict>
</plist>